/*BEGIN PS4 Controller Styling*/
.controller.ds4 {
    background: url(https://imgur.com/yNqtMmU.png) !important;
    height: 599px !important;
    width: 806px !important;
}

.ds4.disconnected {
    background: url(ps4-assets/disconnected.svg) !important;
}

.ds4.disconnected div {
    display: none !important;
}

.ds4 .triggers {
    width: 588px !important;
    height: 90px !important;
    position: absolute !important;
    left: 109px !important;
}

.ds4 .trigger {
    width: 99px !important;
    height: 100% !important;
    background: url(ps4-assets/triggers.svg) !important;
    opacity: 0 !important;
}

.ds4 .trigger.left {
    float: left !important;
}

.ds4 .trigger.right {
    float: right !important;
    background-position-x: 99px !important;
}

.ds4 .bumper {
    width: 99px !important;
    height: 23px !important;
    background: url(ps4-assets/bumper.svg) no-repeat !important;
    opacity: 0 !important;
}

.ds4 .bumpers {
    position: absolute !important;
    width: 588px !important;
    height: 23px !important;
    left: 109px !important;
    top: 94px !important;
}

.ds4 .bumper.pressed {
    opacity: 1 !important;
}

.ds4 .bumper.left {
    float: left !important;
}

.ds4 .bumper.right {
    float: right !important;
    transform: rotateY(180deg) !important;
}

.ds4 .touchpad {
    width: 262px !important;
    height: 151px !important;
    position: absolute !important;
    left: 272px !important;
    top: 122px !important;
}

.ds4 .touchpad.pressed {
    background: url(ps4-assets/touchpad.svg) no-repeat center !important;
}

.ds4 .meta {
    width: 42px !important;
    height: 42px !important;
    position: absolute !important;
    left: 382px !important;
    bottom: 216px !important;
}

.ds4 .meta.pressed {
    background: url(ps4-assets/meta.svg) no-repeat center !important;
}

.ds4 .arrows {
    position: absolute !important;
    width: 352px !important;
    height: 46px !important;
    top: 142px !important;
    left: 227px !important;
}

.ds4 .back, .ds4 .start {
    background: url(ps4-assets/start.svg) !important;
    width: 28px !important;
    height: 46px !important;
    opacity: 0 !important;
}

.ds4 .back.pressed, .ds4 .start.pressed {
    opacity: 1 !important;
}

.ds4 .back {
    float: left !important;
}

.ds4 .start {
    float: right !important;
    background-position: 28px 0 !important;
}

.ds4 .abxy {
    position: absolute !important;
    width: 170px !important;
    height: 171px !important;
    top: 159px !important;
    left: 567px !important;
}

.ds4 .button {
    position: absolute !important;
    width: 55px !important;
    height: 55px !important;
    background: url(ps4-assets/face.svg) !important;
}

.ds4 .button.pressed {
    background-position-y: 55px !important;
}

.ds4 .a {
    background-position: 0 0 !important;
    bottom: 0 !important;
    left: 58px !important;
}

.ds4 .b {
    background-position: -57px 0 !important;
    top: 58px !important;
    right: 0px !important;
}

.ds4 .x {
    background-position: -113px 0 !important;
    top: 58px !important;
}

.ds4 .y {
    background-position: 55px 0 !important;
    left: 58px !important;
}

.ds4 .sticks {
    position: absolute !important;
    width: 361px !important;
    height: 105px !important;
    top: 308px !important;
    left: 228px !important;
}

.ds4 .stick {
    position: absolute !important;
    background: url(ps4-assets/sticks.svg) !important;
    height: 94px !important;
    width: 94px !important;
}

.ds4 .stick.pressed.left {
    background-position-x: -96px !important;
}

.ds4 .stick.pressed.right {
    background-position-x: -192px !important;
}

.ds4 .stick.left {
    top: 0 !important;
    left: 0 !important;
}

.ds4 .stick.right {
    top: calc(100% - 105px) !important;
    left: calc(100% - 105px) !important;
}

.ds4 .dpad {
    position: absolute !important;
    width: 125px !important;
    height: 126px !important;
    top: 181px !important;
    left: 92px !important;
}

.ds4 .face {
    background: url(ps4-assets/dpad.svg) !important;
    position: absolute !important;
}

.ds4 .face.up, .ds4 .face.down {
    width: 36px !important;
    height: 52px !important;
}

.ds4 .face.left, .ds4 .face.right {
    width: 52px !important;
    height: 36px !important;
}

.ds4 .face.up {
    left: 44px !important;
    top: 0 !important;
    background-position: -37px 0px !important;
}

.ds4 .face.down {
    left: 44px !important;
    bottom: 0 !important;
    background-position: 0px 0 !important;
}

.ds4 .face.left {
    top: 45px !important;
    left: 0 !important;
    background-position: 104px 0 !impor
