/*BEGIN Xbox One Controller Styling*/
.controller.xbox {
    background: url(https://imgur.com/yNqtMmU.png) !important;
    height: 630px !important;
    width: 750px !important;
}

.xbox.white {
    background: url(xbox-assets/base-white.svg) !important;
}

.xbox.disconnected {
    background: url(xbox-assets/disconnected.svg) !important;
}

.xbox.disconnected div {
    display: none !important;
}

.xbox .triggers {
    width: 446px !important;
    height: 121px !important;
    position: absolute !important;
    left: 152px !important;
}

.xbox .trigger {
    width: 88px !important;
    height: 121px !important;
    background: url(xbox-assets/trigger.svg) !important;
    opacity: 0 !important;
}

.xbox .trigger.left {
    float: left !important;
    background-position: 0 0 !important;
}

.xbox .trigger.right {
    float: right !important;
    transform: rotateY(180deg) !important;
}

.xbox .bumper {
    width: 170px !important;
    height: 61px !important;
    background: url(xbox-assets/bumper.svg) !important;
    opacity: 0 !important;
}

.xbox .bumpers {
    position: absolute !important;
    width: 536px !important;
    height: 61px !important;
    left: 107px !important;
    top: 129px !important;
}

.xbox .bumper.pressed {
    opacity: 1 !important;
}

.xbox .bumper.left {
    float: left !important;
}

.xbox .bumper.right {
    float: right !important;
    transform: rotateY(180deg) !important;
}

.xbox .quadrant {
    position: absolute !important;
    background: url(xbox-assets/quadrant.svg) !important;
    height: 45px !important;
    width: 45px !important;
    top: 258px !important;
    left: 354px !important;
    z-index: 0 !important;
}

.xbox .p0, .xbox .p1, .xbox .p2, .xbox .p3 {
    transform: rotate(0deg) !important;
}

.xbox .p1 {
    transform: rotate(90deg) !important;
}

.xbox .p2 {
    transform: rotate(270deg) !important;
}

.xbox .p3 {
    transform: rotate(180deg) !important;
}

.xbox .arrows {
    position: absolute !important;
    width: 141px !important;
    height: 33px !important;
    top: 264px !important;
    left: 306px !important;
}

.xbox .back, .xbox .start {
    background: url(xbox-assets/start-select.svg) !important;
    width: 33px !important;
    height: 33px !important;
    opacity: 0 !important;
}

.xbox .back.pressed, .xbox .start.pressed {
    opacity: 1 !important;
}

.xbox .back {
    float: left !important;
}

.xbox .start {
    background-position: 33px 0 !important;
    float: right !important;
}

.xbox .abxy {
    position: absolute !important;
    width: 153px !important;
    height: 156px !important;
    top: 192px !important;
    left: 488px !important;
}

.xbox .button {
    position: absolute !important;
    background: url(xbox-assets/abxy.svg) !important;
    width: 48px !important;
    height: 48px !important;
}

.xbox .button.pressed {
    background-position-y: -48px !important;
    margin-top: 5px !important;
    opacity: 1 !important;
}

.xbox .a {
    background-position: 0 0 !important;
    top: 108px !important;
    left: 55px !important;
}

.xbox .b {
    background-position: -49px 0 !important;
    top: 58px !important;
    right: 0px !important;
}

.xbox .x {
    background-position: -98px 0 !important;
    top: 58px !important;
    left: 4px !important;
}

.xbox .y {
    background-position: 48px 0 !important;
    left: 55px !important;
    top: 7px !important;
}

.xbox .sticks {
    position: absolute !important;
    width: 371px !important;
    height: 196px !important;
    top: 239px !important;
    left: 144px !important;
}

.xbox .stick {
    position: absolute !important;
    background: url(xbox-assets/stick.svg) !important;
    background-position: -85px 0 !important;
    height: 83px !important;
    width: 83px !important;
}

.xbox .stick.pressed {
    background-position: 0 0 !important;
}

.xbox .stick.left {
    top: 0 !important;
    left: 0 !important;
}

.xbox .stick.right {
    top: 113px !important;
    left: 288px !important;
}

.xbox .dpad {
    position: absolute !important;
    width: 110px !important;
    height: 111px !important;
    top: 345px !important;
    left: 223px !important;
}

.xbox .face {
    background: url(xbox-assets/dpad.svg) !important;
    position: absolute !important;
    opacity: 0 !important;
}

.xbox .face.pressed {
    opacity: 1 !important;
}

.xbox .face.up, .xbox .face.down, .xbox .face.left, .xbox .face.right {
    background-position: 34px 0 !important;
    width: 34px !important;
    height: 56px !important;
}

.xbox .face.down {
    left: 38px !important;
    bottom: 0 !important;
}

.xbox .face.left {
    background-position: 0 -93px !important;
    width: 55px !important;
    height: 35px !important;
    top: 38px !important;
    left: 0 !important;
}

.xbox .face.right {
    background-position: 0 -57px !important;
    width: 55px !important;
    height: 35px !important;
    top: 38px !important;
    right: 0 !important;
}

.xbox.half {
    margin-top: -315px !important;
}

.xbox {
    background: no-repeat center !important;
}

/*END Xbox One Controller Styling*/
